.about-us-link{
	font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;

    padding: 120px 10px;
    background-image: url(/img/header_aboutus.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: inherit;
}
.about-us-link .wrapper{
	max-width: 1300px;
	margin: auto;
	align-items: center;
}
.about-us-link h1{
	color: #fff;
}
.about-us-link .text{
	color: #fff;
	opacity: 0.7;
}