.about-us-module{
  background: #fff;

  font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}
.about-us-module img{
  display: block;
  padding: 20px;
  width: 100%;
  max-height: 405px;
  object-fit: cover;
}
@media (min-width: 840px) {
  .about-us-module .wrapper{
  display: flex;
}
  
}
.about-us-module .wrapper{
  max-width: 1300px;
  margin: auto;
  padding: 0 10px;
  padding-bottom: 50px;

  align-items: center;
}
.about-us-module .conteiner{
  max-height: 405px;
  width: 100%;
}    
.about-us-module h2{
	margin-top: 0px;
	margin-bottom: 30px;
}
.about-us-module h2::before{
  content: " ";
  margin-top: 40px;
  width: 50px;
  height: 3px;
  position: absolute;
  background: #090;
}
.about-us-module h2::after{
  content: " ";
  margin-top: 40px;
  margin-left: -23px;
  width: 20px;
  height: 3px;
  position: absolute;
  background: #cacaca;
}
.about-us-module .text{
  color: #666;
  font-size: 16px;
}
.about-us-module a.knopka {
  margin-top: 20px;
	display: inline-block;
	text-align: center;
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: #009900; /* фон кнопки */
  padding: 10px 30px; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */

  font-size: 1rem;
    text-transform: inherit;
} 
.about-us-module a.knopka:hover {background-color: #666;
    color: #fff;} /* при наведении курсора мышки */
